* {
    text-align: center;
}

header {
    background-color: brown;
}
footer{
    background-color: black;
    padding-left: 120rem;
    margin: 0.1rem;
}

main{
    font-size: 20px;
    color: gray;
    background-color: cadetblue;
    /* qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe;
    qwe: qwe; */
   
}