* {
    text-align: center;
}

main {
    font-size: 20px;
    color: gray;
}

header {
    background-color: brown;
}
footer{
    background-color: black;
    padding-left: 120rem;
    margin: 0.1rem;
}
